<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="../static/index.css"> 




</head>

<body>

    <form class="grid" action="/result" method="POST" enctype = "multipart/form-data">

      {% if name %}
        <center>
          <h3 style="color: blue;" class="let_space">Hello {{name}}, How was your day!!</h3>
        </center> 

      {% endif %}
       
      
      <label for="name">Uplaod file to convert:</label>
      <input type="file" id="myFile" name="file">
      <input type="submit" id="subBtn">

      <!-- <center><input class="file_submit" type="Submit"></center> -->

    </form>

    

    

    
    <br>
    <br>
    <br>


</body>

</html>